

body {
  display:block;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    135deg,
    #f6d365,
    #fda085,
    #fbc2eb,
    #a6c1ee
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(77, 31, 12)
}


#heading{
    font-weight: bold;
}
#intro{
    font-style: italic;
    font-weight: bold;
}
#numofDice{
    background-color:cornsilk;
    border:none;
    font-weight: bold;
    text-align:center;
    color:brown;
}
#btn{
    border:none;
    color:aliceblue;
    background-color: #af19af;
    font-weight: bold;
    padding:10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
#btn:active{
    color:#af19af;
    background-color: aliceblue;
}
#images img {
  width: 180px;          
  border-radius: 15px;  
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
  margin:20px;
}